<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Carpeta externa de DLLS-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin\DLLsPropias" />
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.12.0" newVersion="18.1.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraReports.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.12.0" newVersion="18.1.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraPrinting.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.12.0" newVersion="18.1.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.12.0" newVersion="18.1.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.12.0" newVersion="18.1.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v18.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.12.0" newVersion="18.1.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.BonusSkins.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.12.0" newVersion="18.1.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
        <add name="localhost_labour_Connection" connectionString="XpoProvider=MSSqlServer;data source=LABOUR;user id=sa;password=soporte123;initial catalog=labour;Persist Security Info=true" />
        <add name="labourDb" connectionString="XpoProvider=MSSqlServer;data source=LABOUR;user id=;password=;initial catalog=labour;Persist Security Info=true" />
        <add name="LabourDbConexion" connectionString="XpoProvider=MSSqlServer;data source=LABOUR;user id=sa;password=soporte123;initial catalog=labour;Persist Security Info=true" />
        <add name="localhost_sesc_Connection" connectionString="XpoProvider=MSSqlServer;data source=LABOUR;user id=;password=;initial catalog=sesc;Persist Security Info=true" />
        <add name="localhost_sesc_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=LABOUR;user id=sa;password=soporte123;initial catalog=sesc;Persist Security Info=true" />
        <add name="Est" connectionString="XpoProvider=MSSqlServer;data source=LABOUR;user id=;password=;initial catalog=EST;Persist Security Info=true" />
        <add name="localhost_EST_Connection" connectionString="XpoProvider=MSSqlServer;data source=LABOUR;user id=sa;password=soporte123;initial catalog=EST;Persist Security Info=true" />
        <add name="localhost_perSesc_Connection" connectionString="XpoProvider=MSSqlServer;data source=omega;user id=userper;password=userper;initial catalog=perSesc;Persist Security Info=true" />
        <add name="localhost_perSesc_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=omega;user id=;password=;initial catalog=perSesc;Persist Security Info=true" />
        <add name="localhost_perSesc_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=omega;user id=userper;password=userper;initial catalog=perSesc;Persist Security Info=true" />
        <add name="Conexion_Prueba" connectionString="XpoProvider=MSSqlServer;data source=OMEGA;user id=userper;password=userper;initial catalog=perSesc;Persist Security Info=true" />
        <add name="localhost_sesc_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=OMEGA;user id=;password=;initial catalog=perSesc;Persist Security Info=true" />
        <add name="localhost_perSesc_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=OMEGA;user id=;password=;initial catalog=perSesc;Persist Security Info=true" />
        <add name="localhost_perSesc_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=omega;user id=;password=;initial catalog=perSesc;Persist Security Info=true" />
        <add name="ConexionPer" connectionString="XpoProvider=MSSqlServer;data source=omega;user id=userper;password=userper;initial catalog=perSesc;Persist Security Info=true" />
        <add name="FUNCIONA_CON_REPORTE_LIBROREMU" connectionString="XpoProvider=MSSqlServer;data source=OMEGA;user id=userper;password=userper;initial catalog=perDemo;Persist Security Info=true" />
        <add name="localhost_persopytec_Juradas" connectionString="XpoProvider=MSSqlServer;data source=omega;user id=;password=;initial catalog=persopytec;Persist Security Info=true" />
        <add name="localhost_perSerem_Connection" connectionString="XpoProvider=MSSqlServer;data source=omega;user id=userper;password=userper;initial catalog=perSerem;Persist Security Info=true" />
        <add name="Dario_Local_perSopytec" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-39518NL;user id=userper;password=userper;initial catalog=perSopytec;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
</configuration>
