<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DarioLocal_perSopytec_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-39518NL;user id=userper;password=userper;initial catalog=perSopytec;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>